<ul class="pager">
  <li><%= link_to 'Prev',  root_path + @date_prev.strftime('%Y%m') %></li>
  <li><%= link_to 'Today', root_path %></li>
  <li><%= link_to 'Next',  root_path + @date_next.strftime('%Y%m') %></li>
</ul>
<div style="overflow-x: scroll;">
<table class="table table-bordered">
  <tr>
    <td></td>
    <% @days.each do |d| %>
      <td colspan="<%= Schedule.times.count %>"><%= d.strftime('%m/%d') %>(<%= weekday_name(d) %>)</td>
    <% end %>
  </tr>

  <tr>
    <td></td>
    <% @days.each do |d| %>
      <% Schedule.times.each_key do |t| %>
        <td><%= time_name(t) %></td>
      <% end %>
    <% end %>
  </tr>

  <% @members.each do |m| %>
    <tr>
      <td style="white-space: nowrap;"><%= link_to m.name, edit_member_schedules_path(m, yyyymm: @date_here.strftime('%Y%m')) %></td>
      <% @days.each do |d| %>
        <% Schedule.times.each_key do |t| %>
          <td><%= find_schedule_availability(@schedules, d, t, m.id) %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
