<table class="table table-bordered">
  <tr>
    <th>日付</th>
    <th>曜日</th>
    <th>時間</th>
    <% @members.each do |m| %>
      <th><%= link_to m.name, edit_member_schedules_path(m, yyyymm: @from_yyyymm) %></th>
    <% end %>
    <th>メモ</th>
  </tr>

  <% @days.each do |d| %>
  <% @times_name.each_with_index do |t, t_idx| %>
    <tr>
      <% if t_idx == 0 %>
        <td rowspan="3"><%= d.strftime('%m/%d') %></td>
        <td rowspan="3"><%= @weekdays_name[d.wday] %></td>
      <% end %>

      <td><%= t %></td>

      <% @members.each do |m| %>
        <td><%=
          @schedules.find { |s|
            s.date == d && s.time == t_idx && s.member_id == m.id
          }.try(:availability) || ''
        %></td>
      <% end %>

      <td>
        <% @schedules.find_all { |s| s.date == d && s.time==t_idx }.each do |s| %>
          <% unless s.note.blank? %>
          <p><%= s.note %>(<%= @members.find { |m| m.id == s.member_id }.name %>)</p>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>
